body {
  background-color: #111;
}

h1 {
  font-size: 50px;
  margin: 0 auto;
  text-align: center;
  color: #35d2cd;
}

h2 {
  font-size: 25px;
  padding-bottom: 0;
}

p {
  font-size: 16px;
}

.App {
  color: white;
  min-height: 100vh;
  padding: 40px;
}

.App-link {
  color: #61dafb;
}

.row {
  display: flex;
  margin-bottom: 40px;
}

img {
  height: 250px;
  margin: 3px;
  cursor: pointer;
  transition: all 0.2s;
  transition-delay: 0.1s;
  object-fit: contain;
}

img:hover {
  transform: scale(1.4);
}

.img-animate-right {
  transform: translate(35px);
}

.img-animate-left {
  transform: translate(-35px);
}
