body{
  background-color: black;
}
  
h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
  padding: 20px;
  padding-bottom: 0;
}



p {
  font-size: 16px;
}

.App {
  /* text-align: center; */
  color: white;
  min-height: 100vh;
  padding: 40px;
}

.App-link {
  color: #61dafb;
}

.row {
  display: flex;
  /* flex-wrap: wrap; */
}

navLinks{

}
/* .card {

  margin: 3px;
  cursor: pointer;
} */

img{
  width: 230px;
  height: 230px;
  margin: 3px;
  cursor: pointer;
  transition: all 0.2s;
  transition-delay: 0.1s;
}

img:hover{
  transform: scale(1.4);
}

.img-animate-right{
  transform: translate(50px);
}

.img-animate-left{
  transform: translate(-50px);
}